<% content_for :menu do %>
  <li>
    <%= link_to "Edit This Project", edit_category_project_path(@category, @project) %>
  </li>
  <li>
    <%= link_to "Delete This Project", category_project_path(@category, @project),
      :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
  </li>
<% end %>

<div class="full-width center-contents">
  <div class="faded-box center-inside">
    <h2><%= @project.name %></h2>
    <p>
      <%= @project.description %></h2>
    </p>
    <h4><a href="<%= @project.url %>" target="_new"><%= @project.url %></a></h4>
  </div>
</div>
