<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Drew Finstrom</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to "Blog", blogs_path %></li>
                <li><%= link_to "Projects", categories_path %></li>
                <li style="display: none" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form style="display: none" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Log In or Sign Up", new_user_session_path %></li>
                <% end %>
                <% if current_user.try(:admin?) %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <%= yield(:menu) %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3">
        <div id="left-panel" class="faded-box full-width">
          <div id="refs-show" class="toggle-button">
            <span class="glyphicon glyphicon-chevron-down float-l"></span>
            <span class="glyphicon glyphicon-chevron-down float-l"></span>
            <span class="toggle-button-text">References</span>
            <span class="glyphicon glyphicon-chevron-down float-r"></span>
            <span class="glyphicon glyphicon-chevron-down float-r"></span>
          </div>
          <div class="references" style="display: none;">
            <ul>
              <li>A reference</li>
              <li>Another reference</li>
              <li>A third, very impressive reference</li>
              <li>A fourth, slightly less impressive reference</li>
            </ul>
          </div>
          <div id="refs-hide" class="toggle-button" style="display: none;">
            <span class="glyphicon glyphicon-chevron-up float-l"></span>
            <span class="glyphicon glyphicon-chevron-up float-l"></span>
            <span class="toggle-button-text">References</span>
            <span class="glyphicon glyphicon-chevron-up float-r"></span>
            <span class="glyphicon glyphicon-chevron-up float-r"></span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <%= yield %>
      </div>

      <div class="col-md-3">
        <div id="profile" class="faded-box">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAALSAAAAJDA5NDhhNjc3LWFkMTYtNDhjNS1hN2U5LTZhNGU4ODYzOGE3YQ.jpg" alt="" />
          <ul class="details">
            <li>Drew Finstrom</li>
            <li>drew@fakeaddress.net</li>
            <li>503-123-4444</li>
            <li>Portland, OR 97232</li>
            <li><a href="http://github.com/dgf1979" target="_new">Github</a></li>
            <li><a href="http://linkedin.com/in/andrewfinstrom" target="_new">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="underlay"></div>

  <div class="flash">
    <span class="info"><%= flash[:notice] %></span>
    <span class="error"><%= flash[:alert] %></span>
  </div>

</body>
</html>
